{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Tenant Group Status" %}{% endblock %}

{% block page_header %}
{% include "horizon/common/_page_header.html" with title=_("Tenant Group Status") %}
{% endblock page_header %}

{% block main %}
{% load i18n horizon humanize sizeformat %}


<html>

    <head><title>tenant_mppdb_group_charts</title></head>

    <body>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>

    <script>

    REST_API_URI = "{{ DM_API }}";
    var tenant_mppdb_group_performance_checking_period = 5000;
    var sla_guarantee_checking_period = 6000;


    var unconsolidated_tenant_mppdbs_div_id = "unconsolidated_tenant_mppdbs";

    function drawChart(tenant_mppdb_group_id) {

        var performances_data = [];
        var time_series = [];

        var jsonData = $.ajax({
            url: REST_API_URI+'/v1.0/tenantmppdbgroups/'+tenant_mppdb_group_id+'/activities',
            dataType: 'json'
          }).done(function (results) {
             console.log(REST_API_URI+'/v1.0/tenantmppdbgroups/'+tenant_mppdb_group_id+'/activities');

             results["tenant_mppdb_group_activities"].forEach(function(tenant_mppdb_group_activity)  {
                                        time_series[time_series.length] = Date.parse(tenant_mppdb_group_activity.time);
                                        performances_data[performances_data.length] = tenant_mppdb_group_activity.value;
             });

            Highcharts.setOptions({
                global : {
                    useUTC : false
                }
            });

            // Create the chart
            window.chart = new Highcharts.StockChart({

                chart : {
                    type: 'area',
                    renderTo: document.getElementById(tenant_mppdb_group_id),
                    animation: false,
                    events : {
                        load : function () {
                            // set up the updating of the chart each second
                            var series = this.series[0];
                            setInterval(function () {

                                var jsonData = $.ajax({
                                    url: REST_API_URI+'/v1.0/tenantmppdbgroups/'+tenant_mppdb_group_id+'/activities',
                                    type: 'POST',
                                    data: {'last_timestamp': new Date(time_series[0]).toGMTString()},
                                    dataType: 'json'
                                }).done(function (results) {

                                    console.log(REST_API_URI+'/v1.0/tenantmppdbgroups/'+tenant_mppdb_group_id+'/activities');

                                    if(results["tenant_mppdb_group_activities"][0] != [] && results["tenant_mppdb_group_activities"][0] != undefined) {
                                                var x = Date.parse(results["tenant_mppdb_group_activities"][0]['time']), // current time
                                                        y = results["tenant_mppdb_group_activities"][0].value;
                                                series.addPoint([x, y], true, true);
                                                time_series[0] = x;
                                    }

                                });

                            }, tenant_mppdb_group_performance_checking_period);
                        }
                    }
                },
                xAxis: {
                    title: {
                        text: 'Time',
                        style: {
                            color: '#000000'
                        }
                    }
                },
                yAxis: {
                    title: {
                        text: 'Performance',
                        style: {
                            color: '#000000'
                        }
                    },
                    opposite: false
                },
                series : [{
                    name : 'Performance',
                    data : (function () {
                        var data = [];

                        for (i = time_series.length-1; i >= 0 ; i -= 1) {
                            data.push([
                                time_series[i],
                                performances_data[i]
                            ]);
                        }
                        return data;
                    }())
                }],

                rangeSelector: {
                    buttons: [{
                        count: 1,
                        type: 'minute',
                        text: '1M'
                    }, {
                        count: 5,
                        type: 'minute',
                        text: '5M'
                    }, {
                        type: 'all',
                        text: 'All'
                    }],
                    inputEnabled: false,
                    //choose type 'all'
                    selected: 2
                },
                title : {
                    text : 'Performance'
                },

                exporting: {
                    enabled: false
                },
                plotOptions: {
                    area: {
                        fillColor:"rgba(115,188,211,0.4)",
                        stacking: 'normal',
                        lineColor: "rgba(115,188,211,1)",
                        lineWidth: 1,
                        marker: {
                            lineWidth: 1,
                            lineColor: "rgba(115,188,211,1)"
                        }
                    },
                    series:{
                        animation: false
                    }
                },
                navigator : {
                    enabled : false
                }
            });

        });

    }


    function drawServiceLevelChart(tenant_mppdb_group_id, service_level_div_id) {

        var rt_ttp_data = [];
        var time_series = [];

        var jsonData = $.ajax({
            url: REST_API_URI+'/v1.0/tenantmppdbgroups/'+tenant_mppdb_group_id+'/servicelevel',
            dataType: 'json'
            }).done(function (results) {
            console.log(REST_API_URI+'/v1.0/tenantmppdbgroups/'+tenant_mppdb_group_id+'/servicelevel')

            results["tenant_mppdb_group_service_levels"].forEach(function(tenant_mppdb_group_service_level)  {

                 time_series[time_series.length] = Date.parse(tenant_mppdb_group_service_level.time);
                 rt_ttp_data[rt_ttp_data.length] = tenant_mppdb_group_service_level.value;

            });

            Highcharts.setOptions({
                global : {
                    useUTC : false
                }
            });

            // Create the chart
            window.chart = new Highcharts.StockChart({

                chart : {
                    type: 'area',
                    renderTo: document.getElementById(service_level_div_id),
                    animation: false,
                    events : {
                        load : function () {
                            // set up the updating of the chart each second
                            var series = this.series[0];
                            setInterval(function () {

                                var jsonData = $.ajax({
                                    url: REST_API_URI+'/v1.0/tenantmppdbgroups/'+tenant_mppdb_group_id+'/servicelevel',
                                    type: 'POST',
                                    data: {'last_timestamp': new Date(time_series[0]).toGMTString()},
                                    dataType: 'json',
                                }).done(function (results) {
                                    console.log(REST_API_URI+'/v1.0/tenantmppdbgroups/'+tenant_mppdb_group_id+'/servicelevel');


                                    if(results["tenant_mppdb_group_service_levels"][0] != [] && results["tenant_mppdb_group_service_levels"][0] != undefined) {
                                        var x = Date.parse(results["tenant_mppdb_group_service_levels"][0].time), // current time
                                                y = results["tenant_mppdb_group_service_levels"][0].value;
                                        series.addPoint([x, y], true, true);
                                        time_series[0] = x;
                                    }

                                });

                            }, sla_guarantee_checking_period);
                        }
                    }
                },
                xAxis: {
                    title: {
                        text: 'Time',
                        style: {
                            color: '#000000'
                        }
                    }
                },
                yAxis: {
                    title: {
                        text: 'RT-TTP',
                        style: {
                            color: '#000000'
                        }
                    },
                    opposite: false
                },
                series : [{
                    name : 'RT-TTP',
                    data : (function () {
                        var data = [], i, time = (new Date()).getTime();

                        for (i = time_series.length-1; i >= 0 ; i -= 1) {
                            data.push([
                                time_series[i],
                                rt_ttp_data[i]
                            ]);
                        }
                        return data;
                    }())
                }],

                rangeSelector: {
                    buttons: [{
                        count: 1,
                        type: 'minute',
                        text: '1M'
                    }, {
                        count: 5,
                        type: 'minute',
                        text: '5M'
                    }, {
                        type: 'all',
                        text: 'All'
                    }],
                    inputEnabled: false,
                    selected: 2
                },

                title : {
                    text : 'SLA Guarantee'
                },
                exporting: {
                    enabled: false
                },
                plotOptions: {
                    area: {
                        fillColor:"rgba(102,235,144,0.4)",
                        stacking: 'normal',
                        lineColor: "rgba(102,235,144,1)",
                        lineWidth: 1,
                        marker: {
                            lineWidth: 1,
                            lineColor: "rgba(102,235,144,1)"
                        }
                    },
                    series:{
                        animation: false
                    }
                },
                navigator : {
                    enabled : false
                }
            });

        });

    }

    function drawTenantsDeployed(tenant_mppdb_group_id, tenants_deployed_div_id) {

        function refreshData() {
            var tenant_mppdb_data = [];
            var jsonData = $.ajax({
            url: REST_API_URI+'/v1.0/tenantmppdbs_in_same_group/'+tenant_mppdb_group_id,
            dataType: 'json'
            }).done(function (results) {
                console.log(REST_API_URI+'/v1.0/tenantmppdbs_in_same_group/' + tenant_mppdb_group_id)


                results["tenant_mppdbs"].forEach(function (tenant_mppdb) {

                    tenant_mppdb_data[tenant_mppdb_data.length] = tenant_mppdb.tenant_mppdb_id;

                });

            document.getElementById(tenants_deployed_div_id).innerHTML="";
            document.getElementById(tenants_deployed_div_id).insertAdjacentHTML('beforeend',"Tenants deployed: ");
            for(i=0; i<tenant_mppdb_data.length; i++){
                document.getElementById(tenants_deployed_div_id).insertAdjacentHTML('beforeend',"#"+tenant_mppdb_data[i]+'\t');
            }
            });

        }

        setInterval(refreshData, 6000);
    }

    function drawUnconsolidatedTenantMppdb(unconsolidated_tenant_mppdbs_div_id) {

        function refreshData() {
            var tenant_mppdb_data = [];
            var jsonData = $.ajax({
            url: REST_API_URI+'/v1.0/tenantmppdbs/unconsolidated_tenantmppdb',
            dataType: 'json'
            }).done(function (results) {

                console.log(REST_API_URI + '/v1.0/tenantmppdbs/unconsolidated_tenantmppdb');

                results["unconsolidated_tenant_mppdbs"].forEach(function (unconsolidated_tenant_mppdb) {

                    tenant_mppdb_data[tenant_mppdb_data.length] = unconsolidated_tenant_mppdb.tenant_mppdb_id;

                });

            if(tenant_mppdb_data.length==0) {
                unconsolidated_tenant_mppdbs_div = document.getElementById(unconsolidated_tenant_mppdbs_div_id);
                while(unconsolidated_tenant_mppdbs_div.childElementCount > 1) {
                    unconsolidated_tenant_mppdbs_div.removeChild(unconsolidated_tenant_mppdbs_div.lastElementChild)
                }
                var node = document.createElement("LI");
                node.style.color = 'white';
                node.style.listStyleType = 'none';
                node.style.display = 'inline';
                var textnode = document.createTextNode('There is no unconsolidated tenants in the system.');
                node.appendChild(textnode);
                unconsolidated_tenant_mppdbs_div.appendChild(node);

            }

            else
                {
                    unconsolidated_tenant_mppdbs_div = document.getElementById(unconsolidated_tenant_mppdbs_div_id);
                    while(unconsolidated_tenant_mppdbs_div.childElementCount > 1){
                        unconsolidated_tenant_mppdbs_div.removeChild(unconsolidated_tenant_mppdbs_div.lastElementChild)
                    }

                    for (i = 0; i < tenant_mppdb_data.length; i++) {
                        var node = document.createElement("LI");
                        node.style.color = 'white';
                        node.style.listStyleType = 'none';
                        node.style.display = 'inline';
                        var textnode = document.createTextNode("#" + tenant_mppdb_data[i]+ '\t');
                        node.appendChild(textnode);
                        unconsolidated_tenant_mppdbs_div.appendChild(node);
                    }
                }
            });

        }

        setInterval(refreshData, 6000);
    }

    window.onload =
        function() {
          var jsonData = $.ajax({
              url: REST_API_URI+'/v1.0/tenantmppdbgroups',
              dataType: 'json',
            }).done(function (results) {

              var fieldset = document.createElement('fieldset');

              results["tenant_mppdb_groups"].forEach(function(tenant_mppdb_group)  {

                if(tenant_mppdb_group.group_size!=0) {

                    var div_id = tenant_mppdb_group.tenant_mppdb_group_id;
                    var service_level_div_id = 'service_level' + tenant_mppdb_group.tenant_mppdb_group_id;
                    var tenants_deployed_div_id = 'tenants_deployed' + tenant_mppdb_group.tenant_mppdb_group_id;

                    var legend = document.createElement("legend");
                    legend.innerHTML = 'Tenant Group ' + tenant_mppdb_group.tenant_mppdb_group_id.toString();
                    document.getElementById('tenant_mppdb_group_charts').appendChild(fieldset);
                    fieldset.appendChild(legend);

                    var tenant_mppdb_group_charts_div = document.createElement('div');
                    tenant_mppdb_group_charts_div.id = div_id;
                    tenant_mppdb_group_charts_div.style.width = "900px";
                    tenant_mppdb_group_charts_div.style.height = "250px";
                    fieldset.appendChild(tenant_mppdb_group_charts_div);

                    var tenant_mppdb_group_charts_div = document.createElement('div');
                    tenant_mppdb_group_charts_div.id = service_level_div_id;
                    tenant_mppdb_group_charts_div.style.width = "900px";
                    tenant_mppdb_group_charts_div.style.height = "250px";
                    fieldset.appendChild(tenant_mppdb_group_charts_div);

                    var tenant_mppdb_group_charts_div = document.createElement('div');
                    tenant_mppdb_group_charts_div.id = tenants_deployed_div_id;
                    tenant_mppdb_group_charts_div.style.width = "900px";
                    tenant_mppdb_group_charts_div.style.height = "100px";
                    tenant_mppdb_group_charts_div.style.backgroundColor = '#fefde8';
                    fieldset.appendChild(tenant_mppdb_group_charts_div);

                    drawChart(div_id);
                    drawServiceLevelChart(div_id, service_level_div_id);
                    drawTenantsDeployed(div_id, tenants_deployed_div_id);

                }

              });

              drawUnconsolidatedTenantMppdb(unconsolidated_tenant_mppdbs_div_id);

            });

        }

</script>

<style>

  .affix {
      bottom: 0;
      width: 100%;
      z-index: 9999;
  }

</style>

<nav id='unconsolidated_tenant_mppdbs' class="navbar navbar-inverse" data-spy="affix" data-offset-bottom="0" >
    <ul class="nav navbar-nav">
    <li class="active", style="color: white;"><b>Unconsolidated Tenants: &nbsp</b></li>
  </ul>
</nav>

<table>
      <tr>
         <td id='tenant_mppdb_group_search'> Tenant Group ID: </td>
         <td> <input id='search_tg_mppdb_id_text' type='text' name='tgid' size='10'></td>
         <td> <input type='button' value='Check' onclick= "location.href = '#'+ document.getElementById('search_tg_mppdb_id_text').value;"> </td>
      </tr>
    </table>
<div id='tenant_mppdb_group_charts'> </div>

<div id="footer" style="width:300px;height:200px;border:3px"></div>
</body>

</html>

{% endblock %}